doctype html
html(lang='pt-br')
  head
    title Parcel Base
    link(rel="stylesheet", href="../../scss/vendors/reset.scss")
  body
    h1  This is just a simple parcel boilerplate.
    .container
      p This is cool!
    script(src="../../js/index.js")
